#app {
	width: 60%;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}


li button {
	background: #f2360c;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
}

li.priority {
	border: 2px solid #1a681e;
	color: #1a681e;
}



input[type="text"] {
	padding: 10px;
	width: 50%;
}

button{
	padding: 10px;
	background: #000;
	color: #fff;
	cursor: pointer;
	border: 1px solid #000;
}
